{% load static %}

<nav class="navbar navbar-expand-lg navbar-dark">
  <div class="container">
    <a class="navbar-brand fw-bold" href="{% url 'home' %}">Riya Basnet</a>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarMenu">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarMenu">
      <ul class="navbar-nav ms-auto">

        <li class="nav-item">
          <a class="nav-link {% if request.path == '/' %}active{% endif %}" href="{% url 'home' %}">Home</a>
        </li>

        <li class="nav-item">
          <a class="nav-link {% if '/projects/' in request.path %}active{% endif %}" href="{% url 'project_list' %}">Projects</a>
        </li>

        <li class="nav-item">
          <a class="nav-link {% if '/blog/' in request.path %}active{% endif %}" href="{% url 'blog_list' %}">Blog</a>
        </li>

        <li class="nav-item">
          <a class="nav-link {% if '/testimonials/' in request.path %}active{% endif %}" href="{% url 'testimonials' %}">Testimonials</a>
        </li>

        <li class="nav-item">
          <a class="nav-link {% if '/about/' in request.path %}active{% endif %}" href="{% url 'about' %}">About</a>
        </li>

        <li class="nav-item">
          <a class="nav-link nav-link-cta {% if '/contact/' in request.path %}active{% endif %}" href="{% url 'contact' %}">
            <i class="fas fa-envelope"></i> Contact
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>
